header {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.skills {
    font-style: italic;
    font-display: inherit;   
}

ul {
    align-content: center;
    font-weight: bold;
}